# For development (no TLS) 
# Reference room-scheduler-go-app repo

MYSQL_USER=root
MYSQL_PASSWORD=@dm1n1234
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=db_crocsbook

# GRPC_TLS_ENABLED=true
# JWT_SECRET=super-secret-jwt

# CLIENT_PORT=5173
# GRPC_PORT=50069
# HTTP_PORT=50070


 